.DS_Store
.claude
node_modules
/build
/.svelte-kit
/package
/output
scripts/typst/data.json
scripts/typst/resume-data.json
src/lib/_template/
src/lib/archives/
src/lib/posts/_drafts
src/lib/wip/
src/lib/press/
static/blog_assets/nomadic-notes-pretrip-planning/
static/blog_assets/nomadic-notes-initial-departure/
static/content/archives
static/content/press
static/content/wip
**/.obsidian
.yarn/install-state.gz

