.DS_Store
node_modules
/build
/.svelte-kit
/package
src/lib/_template/
src/lib/archives/
src/lib/posts/_drafts
src/lib/wip/
src/lib/press/
static/images/blog_images/nomadic-notes-pretrip-planning/
static/images/blog_images/nomadic-notes-initial-departure/
static/content/archives
static/content/press
static/content/wip
**/.obsidian
