.DS_Store
node_modules
/build
/.svelte-kit
/package
src/lib/_template/
src/lib/archives/
src/lib/posts/_drafts
src/lib/wip/
src/lib/press/
static/images/blog_images/nomadic-notes-pretrip-planning/
static/images/blog_images/nomadic-notes-initial-departure/
static/content/archives
static/content/press
static/content/wip
**/.obsidian
.yarn/install-state.gz
# currently there's an issue with package-lock.json and the build step
# https://github.com/npm/cli/issues/4828
package-lock.json
