/* ==========================================================================
   Portfolio
   ========================================================================== */
.grid {
  background-color: #f7f7f7;
}

.grid-sizer {
  width: 50%;
}

.grid-controls-wrapper {
    text-align: center;
    float: none;
    width: 100%;
}
.center-pills {
    display: inline-block;
}
.grid .mix {
    width: 170px;
    height: 170px;
    vertical-align: middle;
    margin: 10px 5px 5px 10px;
    color: #fff;
    text-align: center;
}
.grid img {
  width: 170px;
  vertical-align: middle;
}

.grid .mix .thumbnail {
    border: 2px thin #F7F7F7;
    padding: 0;
    border-radius: 0;
}
.grid .mix .overlay {
    width: 170px;
    height: 170px;
    position: absolute;
    opacity: 0;
    background: #3498db;
	top:0;
}
.grid .mix .overlay:hover {
    opacity: .5;
}
.grid .mix .overlay i {
    font-size: 2em;
    opacity: 1;
    color: #fff;
    padding-top: 30%;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope, .isotope .isotope-item {
    /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
